In [186]:
from fastapi import Request, FastAPI, Response
from typing import Any, Dict, AnyStr, List
from datetime import datetime
from bson import json_util
import numpy as np
import pandas as pd
import requests
import json

In [202]:
url = 'http://127.0.0.1:8000/datas/list_all'
doc =  requests.get(url)
doc = doc.json()

In [204]:
 #Exibe todos dados do banco

In [205]:
print(doc)

[{'_id': {'$oid': '65349a2edc66eed7e7fb293c'}, 'patient_id': '64c8237cd15f63bc7490a318', 'identifier': 'FN567801', 'body': [{'moviments': {'X': '128', 'Y': '89', 'Z': '46'}, 'heartbeat': '90', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:00'}, {'moviments': {'X': '190', 'Y': '78', 'Z': '87'}, 'heartbeat': '160', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:01'}], 'datacreate': {'$date': '2023-10-22T00:42:38.244Z'}}, {'_id': {'$oid': '65349a63dc66eed7e7fb293d'}, 'patient_id': '64c82d42aee8cb7f61562b66', 'identifier': 'FN5678093', 'body': [{'moviments': {'X': '128', 'Y': '89', 'Z': '47'}, 'heartbeat': '93', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:00'}, {'moviments': {'X': '151', 'Y': '79', 'Z': '81'}, 'heartbeat': '167', 'location': 'SP', 'datecollect': '2023-10-08T16:56:35.919+00:01'}], 'datacreate': {'$date': '2023-10-22T00:43:31.134Z'}}, {'_id': {'$oid': '65349a87dc66eed7e7fb293e'}, 'patient_id': '64c97980f894e6ebb3dcf6a5', 'identifier': 'FN567899', 'body': [{'moviments': {'X': '123', 'Y': '82', 'Z': '49'}, 'heartbeat': '100', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:00'}, {'moviments': {'X': '154', 'Y': '79', 'Z': '81'}, 'heartbeat': '167', 'location': 'SP', 'datecollect': '2023-10-08T16:56:35.919+00:01'}], 'datacreate': {'$date': '2023-10-22T00:44:07.534Z'}}]

In [197]:
url = 'http://127.0.0.1:8000/datas/list_datas_analyse'
doc =  requests.get(url)
doc = doc.json()

In [198]:
data = json_util.dumps(doc) 
datas = pd.read_json(data)

/var/folders/5m/rv3_s0bx2j152z1965g4lqfr0000gn/T/ipykernel_13460/115205960.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datas = pd.read_json(data)

In [199]:
datas.head()

,_id,identifier,heartbeat,X,Y,Z,datecollect,datacreate
0,65349a2edc66eed7e7fb293c,FN567801,90,128,89,46,2023-10-08T16:54:35.919+00:00,2023-10-22T00:42:38.244Z
1,65349a2edc66eed7e7fb293c,FN567801,160,190,78,87,2023-10-08T16:54:35.919+00:01,2023-10-22T00:42:38.244Z
2,65349a63dc66eed7e7fb293d,FN5678093,93,128,89,47,2023-10-08T16:54:35.919+00:00,2023-10-22T00:43:31.134Z
3,65349a63dc66eed7e7fb293d,FN5678093,167,151,79,81,2023-10-08T16:56:35.919+00:01,2023-10-22T00:43:31.134Z
4,65349a87dc66eed7e7fb293e,FN567899,100,123,82,49,2023-10-08T16:54:35.919+00:00,2023-10-22T00:44:07.534Z

In [183]:
datas.drop(["_id"], axis=1, inplace=True)
datas.describe()

        heartbeat           X          Y          Z
count    6.000000    6.000000   6.000000   6.000000
mean   129.500000  145.666667  82.666667  65.166667
std     38.744032   25.303491   5.085928  19.681633
min     90.000000  123.000000  78.000000  46.000000
25%     94.750000  128.000000  79.000000  47.500000
50%    130.000000  139.500000  80.500000  65.000000
75%    165.250000  153.250000  87.250000  81.000000
max    167.000000  190.000000  89.000000  87.000000

In [67]:
print(data.shape, type(data))

# alocando as variáveis
x = data[:,0]
y = data[:,1]

# plotando o gráfico
plt.plot(x,y)
plt.show()

AttributeError: 'function' object has no attribute 'shape'

In [ ]:
# Historgrama

In [ ]:
# Dados de exemplo gerados aleatóriamente
mu = 100  # média da distribuição
sigma = 15  # desvio padrão da distribuição

x = mu + sigma * np.random.randn(1000) # amostragem da distribuição normal especificada

# numero de bins a serem usados no histograma
num_bins = 50 

# fazendo o histograma dos dados
n, bins, patches = plt.hist(x, num_bins, normed=1, facecolor='green', alpha=0.8)

# mostre a distribuição gaussiana original
y = mlab.normpdf(bins, mu, sigma)
plt.plot(bins, y, 'r--')
plt.xlabel('Smarts')
plt.ylabel('Probability')
plt.title(r'Histogram of IQ: $\mu=100$, $\sigma=15$')

# Tweak spacing to prevent clipping of ylabel
plt.subplots_adjust(left=0.15)
plt.show()

In [ ]:
plt.figure(figsize = ((12, 6)))
x = np.arange(0, 10, 0.2)
y = np.tan(x)
plt.subplot(2, 2, 1)
plt.plot(x,y)
plt.title("Gráfico 01", fontsize = 16)
x = np.arange(0, 10, 0.2)
y = np.sin(x)
plt.subplot(2, 2, 2)
plt.plot(x,y)
plt.title("Gráfico 02", fontsize = 16)
x = np.arange(0, 10, 0.2)
y = np.sinh(x)
plt.subplot(2, 2, 3)
plt.plot(x,y)
plt.title("Gráfico 03", fontsize = 16)
x = np.arange(1, 10, 0.2)
y = np.log(x)
plt.subplot(2, 2, 4)
plt.plot(x,y)
plt.title("Gráfico 04", fontsize = 16)
plt.suptitle("Gráficos", fontsize = 20)
plt.subplots_adjust(left=0.125, bottom=0.1, right=0.9, top=0.9, wspace=0.2, hspace=0.35)
plt.show()