In [82]:
from pymongo import MongoClient 
from bson import json_util
import numpy as np
import pandas as pd
import pymongo
import json

In [57]:
url_db ='mongodb+srv://emuxito:2XHgwZ7ZwHosGqOh@cluster-iot.gvmrr57.mongodb.net/?retryWrites=true&w=majority'
db_name ='backoffice-iot'

In [67]:
conn = pymongo.MongoClient(url_db) 
db = conn[db_name]

In [59]:
db

Database(MongoClient(host=['ac-o7wmkxu-shard-00-02.gvmrr57.mongodb.net:27017', 'ac-o7wmkxu-shard-00-01.gvmrr57.mongodb.net:27017', 'ac-o7wmkxu-shard-00-00.gvmrr57.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-z9hk8w-shard-0', tls=True), 'backoffice-iot')

In [68]:
doc = db.Datas.find()

In [69]:
item = json_util.dumps(doc)
datas = json.loads(item)

In [70]:
print(datas)

[{'_id': {'$oid': '6532e111bba21c52eb16eebd'}, 'patient_id': '64c97980f894e6ebb3dcf6a5', 'identifier': 'FN567899', 'body': [{'moviments': {'X': '128', 'Y': '89', 'Z': '46'}, 'heartbeat': '90', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:00'}, {'moviments': {'X': '190', 'Y': '78', 'Z': '87'}, 'heartbeat': '160', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:01'}], 'datacreate': {'$date': '2023-10-20T17:20:33.828Z'}}, {'_id': {'$oid': '65333f1b330c746d8cf1231c'}, 'patient_id': '64c97980f894e6ebb3dcf6a5', 'identifier': 'FN567899', 'body': [{'moviments': {'X': '128', 'Y': '89', 'Z': '46'}, 'heartbeat': '90', 'location': 'SP', 'date_collect': '2023-10-08T16:54:35.919+00:00'}, {'moviments': {'X': '190', 'Y': '78', 'Z': '87'}, 'heartbeat': '160', 'location': 'SP', 'date_collect': '2023-10-08T16:54:35.919+00:01'}], 'data_create': {'$date': '2023-10-21T00:01:47.189Z'}}]

In [74]:
df = pd.read_json(item)
#dt.head(50)

/var/folders/5m/rv3_s0bx2j152z1965g4lqfr0000gn/T/ipykernel_15414/1669033425.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(item)

In [100]:
data = []
for line in df.body:
    data.append(line)

print(data)

[[{'moviments': {'X': '128', 'Y': '89', 'Z': '46'}, 'heartbeat': '90', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:00'}, {'moviments': {'X': '190', 'Y': '78', 'Z': '87'}, 'heartbeat': '160', 'location': 'SP', 'datecollect': '2023-10-08T16:54:35.919+00:01'}], [{'moviments': {'X': '128', 'Y': '89', 'Z': '46'}, 'heartbeat': '90', 'location': 'SP', 'date_collect': '2023-10-08T16:54:35.919+00:00'}, {'moviments': {'X': '190', 'Y': '78', 'Z': '87'}, 'heartbeat': '160', 'location': 'SP', 'date_collect': '2023-10-08T16:54:35.919+00:01'}]]

In [101]:
 df.describe()

,_id,patient_id,identifier,body,datacreate,data_create
count,2,2,2,2,1,1
unique,2,1,1,2,1,1
top,{'$oid': '6532e111bba21c52eb16eebd'},64c97980f894e6ebb3dcf6a5,FN567899,"[{'moviments': {'X': '128', 'Y': '89', 'Z': '4...",{'$date': '2023-10-20T17:20:33.828Z'},{'$date': '2023-10-21T00:01:47.189Z'}
freq,1,2,2,1,1,1

In [94]:
works_data = pd.json_normalize(data = df['body'], 
                            record_path ='datacreate',  
                            meta =['_id', 'heartbeat', 'moviments', 'date_collect']) 
works_data.head(3)

TypeError: list indices must be integers or slices, not str

In [92]:
dt = pd.json_normalize(datas,'body') 

print(dt)

  heartbeat location                    datecollect moviments.X moviments.Y  \
0        90       SP  2023-10-08T16:54:35.919+00:00         128          89
1       160       SP  2023-10-08T16:54:35.919+00:01         190          78
2        90       SP                            NaN         128          89
3       160       SP                            NaN         190          78

  moviments.Z                   date_collect
0          46                            NaN
1          87                            NaN
2          46  2023-10-08T16:54:35.919+00:00
3          87  2023-10-08T16:54:35.919+00:01